@using System.Web
@model CourrierViewModel
@{
    ViewBag.Title = "Liste des Courriers";
}

<head>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<div class="container">
    <h1>Liste des Courriers</h1>

    @using (Html.BeginForm("Index", "", FormMethod.Get))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Reference)
            @Html.TextBoxFor(model => model.Reference, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Expediteur)
            @Html.TextBoxFor(model => model.Expediteur, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Objet)
            @Html.TextBoxFor(model => model.Objet, new { @class = "form-control" })
        </div>
            <div class="form-group">
            <label for="departement">Département :</label>
            <select id="departement" name="IdDepartement" class="form-control">
                <option value="">Tous</option>
                @foreach (var departement in Model.Departements)
                {
                    <option value="@departement.Id" selected="@(departement.Id == Model.IdDepartement)">@departement.Nom</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="flag">Flag :</label>
            <select id="flag" name="IdFlag" class="form-control">
                <option value="">Tous</option>
                @foreach (var flag in Model.Flags)
                {
                    <option value="@flag.Id" selected="@(flag.Id == Model.IdFlag)">@flag.Libelle</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="statut">Statut :</label>
            <select id="statut" name="IdStatut" class="form-control">
                <option value="">Tous</option>
                @foreach (var statut in Model.Statuts)
                {
                    <option value="@statut.Id" selected="@(statut.Id == Model.IdStatut)">@statut.Libelle</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Rechercher</button>
    }

    @using (Html.BeginForm("ExportToPdf", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Reference)
        @Html.HiddenFor(model => model.Expediteur)
        @Html.HiddenFor(model => model.Objet)
        @Html.HiddenFor(model => model.IdDepartement)
        @Html.HiddenFor(model => model.IdStatut)
        @Html.HiddenFor(model => model.IdFlag)

        <button type="submit" class="btn btn-outline-danger mb-3">Télécharger PDF</button>
    }
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Référence</th>
                <th>Expéditeur</th>
                <th>Objet</th>
                <th>Flag</th>
                <th>Département</th>
                <th>Externe</th>
                <th>Fichier joint</th>
                <th>Statut</th>
                <th>Date de création</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var courrier in Model.Courriers)
            {
                <tr>
                    <td>@courrier.Reference</td>
                    <td>@courrier.Expediteur</td>
                    <td>@courrier.Objet</td>
                    <td>@courrier.Flag.Libelle</td>
                    <td>@courrier.Departement.Nom</td>
                    <td>
                        @if (courrier.Fichier != null)
                        {
                            <a href="@ViewBag.UrlBack/uploads/@courrier.Fichier" class="btn btn-link" download>Télécharger</a>
                        }
                    </td>
                    <td>
                    <td>
                            @if (courrier.Interne)
                            {
                            <span>Non</span>
                            }
                            else
                            {
                            <span>Oui</span>
                            }
                    </td>
                    </td>
                    <td>@courrier.Statut.Libelle</td>
                    <td>@courrier.DateCreation</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="pagination">
        @if (Model.PageCount > 1)
        {
            <ul class="pagination">
                @if (Model.Page > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@BuildPaginationLink(1, Model.Reference, Model.Expediteur, Model.Objet, Model.IdDepartement, Model.IdStatut, Model.IdFlag)">Première</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@BuildPaginationLink(Model.Page - 1, Model.Reference, Model.Expediteur, Model.Objet, Model.IdDepartement, Model.IdStatut, Model.IdFlag)">Précédente</a>
                    </li>
                }

                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="page-item @(Model.Page == i ? "active" : "")">
                        <a class="page-link" href="@BuildPaginationLink(i, Model.Reference, Model.Expediteur, Model.Objet, Model.IdDepartement, Model.IdStatut, Model.IdFlag)">@i</a>
                    </li>
                }

                @if (Model.Page < Model.PageCount)
                {
                    <li class="page-item">
                        <a class="page-link" href="@BuildPaginationLink(Model.Page + 1, Model.Reference, Model.Expediteur, Model.Objet, Model.IdDepartement, Model.IdStatut, Model.IdFlag)">Suivante</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@BuildPaginationLink(Model.PageCount, Model.Reference, Model.Expediteur, Model.Objet, Model.IdDepartement, Model.IdStatut, Model.IdFlag)">Dernière</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>

@functions {
    private string BuildPaginationLink(int page, string reference, string expediteur, string objet, 
        int idDepartement, int idStatut, int idFlag)
    {
        var queryString = HttpUtility.ParseQueryString(string.Empty);
        queryString["page"] = page.ToString();
        queryString["Reference"] = reference;
        queryString["Expediteur"] = expediteur;
        queryString["Objet"] = objet;
        queryString["IdDepartement"] = idDepartement + "";
        queryString["IdStatut"] = idStatut + "";
        queryString["IdFlag"] = idFlag + "";
        return $"?{queryString}";
    }
}
